<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<!-- Standard Local SQL Connection -->
		<add name="ExamGeniusConn"
			 connectionString="Data Source=.;Initial Catalog=ExamGeniusDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" maxRequestLength="102400" executionTimeout="360" />
		<pages clientIDMode="AutoID" />
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="104857600" />
			</requestFiltering>
		</security>
	</system.webServer>

</configuration>